<div class="cover">
    <div class="clearfix"></div>
    <nav class="navbar navbar-expand-lg">
            <span class="navbar-brand mb-0 h1">NeuMarketCap</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
              <ul class="nav justify-content-end">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Exchange</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Sponsors</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container" align="center" style="margin-top:150px">
                <h1 class="text-center">Check today market currency worth!</h1>
                <h3 class="text-center">NeuMarketCap provides you the need to browse worlds cryptocurrency and get list of verified exchanges</h3>
               <br>
                <div class="col-sm-3">          
                <div class="input-group stylish-input-group">
                                <input type="text" class="form-control"  placeholder="Search" >
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>  
                                </span>
                            </div>
                </div>
            </div>
        </div>

        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">Price</th>
                    <th scope="col">Volume (24h)</th>
                    <th scope="col">Circulating Supply</th>
                    <th scope="col">Change (24h)</th>
                    <th scope="col">Price Graph (7d)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Bitcoin</td>
                    <td>$125,821,151,800</td>
                    <td>$7550.03</td>
                    <td>$2,320,270,000</td>
                    <td>16,664,987 BTC</td>
                    <td>2.87%</td>
                    <td>
                        <div style="height:5%; width:70%;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </td>
                  </tr>
                  <tr>
                        <th scope="row">2</th>
                        <td>Bitcoin</td>
                        <td>$125,821,151,800</td>
                        <td>$7550.03</td>
                        <td>$2,320,270,000</td>
                        <td>16,664,987 BTC</td>
                        <td>2.87%</td>
                        <td>
                                <div style="height:5%; width:70%;">
                                    <canvas id="myChart2"></canvas>
                                </div>
                            </td>
                      </tr>
                      <tr>
                            <th scope="row">3</th>
                            <td>Bitcoin</td>
                            <td>$125,821,151,800</td>
                            <td>$7550.03</td>
                            <td>$2,320,270,000</td>
                            <td>16,664,987 BTC</td>
                            <td>2.87%</td>
                            <td>
                                    <div style="height:5%; width:70%;">
                                        <canvas id="myChart3"></canvas>
                                    </div>
                                </td>
                          </tr>
                </tbody>
              </table>